<div class=" container rounded-3 border border-2 border-dark my-5 bg-white" style="height:auto;">
    <div>
        <h1 class=" h1">Hi👋🏻, {{username}}! This is yout list!</h1>
        <div class="row">
            <div class=" col-8">
                <input class=" py-3 form-control shadow" placeholder="Enter your task" type="text" [(ngModel)]="title"
                    (keyup.enter)="addTask()">
            </div>
            <div class="col-2">
                <button class=" mt-2 btn btn-dark" (click)="addTask()"> Add </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row rounded bg-white">
        <div class=" col-12">
            <ul class=" list-group" id="list">
                <li class=" my-3 py-3 shadow list-group-item " *ngFor="let task of tasks" >
                    <div class="row">
                        <div class="col-1">
                            <input class="" type="checkbox" [checked]="task.IsDone"
                            (change)="togglecheck(task)">
                        </div>
                        <div class="col-6">
                            <label  class="h4" *ngIf="!task.helpField">
                                {{task.Title}}
                            </label>
                            <input  class="form-control shadow h3" *ngIf="task.helpField" type="text" [(ngModel)]="task.Title"
                                (keyup.enter)="editTask(task)">

                        </div>
                        <div class="col-4">
                            <button class=" btn btn-dark" (click)="remove(task)">Delete</button>
                            <div class="space"></div>
                            <button class=" btn btn-dark" (click)="saveEditToggle(task)">{{(task.helpField ? 'Save':'Edit')}}</button>
                        </div>
                    </div>
                    <div class="row descriptionField" *ngIf="task.helpField" >
                        <textarea [(ngModel)]="task.Description" class="form-control shadow"></textarea>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</div>